In [1]:
import numpy as np
import pandas as pd

In [89]:
df = pd.read_csv('tennis.csv')
df

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [93]:
df = np.array(df)
df[:,-1] = df[:,-1] == 'yes'
df

array([['sunny', 'hot', 'high', False, False],
       ['sunny', 'hot', 'high', True, False],
       ['overcast', 'hot', 'high', False, True],
       ['rainy', 'mild', 'high', False, True],
       ['rainy', 'cool', 'normal', False, True],
       ['rainy', 'cool', 'normal', True, False],
       ['overcast', 'cool', 'normal', True, True],
       ['sunny', 'mild', 'high', False, False],
       ['sunny', 'cool', 'normal', False, True],
       ['rainy', 'mild', 'normal', False, True],
       ['sunny', 'mild', 'normal', True, True],
       ['overcast', 'mild', 'high', True, True],
       ['overcast', 'hot', 'normal', False, True],
       ['rainy', 'mild', 'high', True, False]], dtype=object)

In [142]:
def naive(query):
    prob = [1, 1]

    true  = df[df[:,-1] == True]
    false = df[df[:,-1] == False]

    for col in range(len(query)):
        if query[col] == None: continue

        total = sum(df[:,col] == query[col])
        t     = sum(true[:,col] == query[col])
        f     = sum(false[:,col] == query[col])

        print(query[col], total, t, f)

        prob[0] *= f/total
        prob[1] *= t/total

    prob[0] *= len(false) / len(df)
    prob[1] *= len(true) / len(df)

    s = sum(prob)
    prob[0] /= s
    prob[1] /= s
    
    return "Plays" if prob.index(max(prob)) == 1 else "Does not play"

prob = naive([ 'sunny', None, None, True ])
print(prob)

sunny 5 2 3
True 6 3 3
Plays